<div class="container__big-card">
    <div class="big-card__photo">
        <img src="https://static01.nyt.com/images/2008/04/20/arts/20carr-600.jpg?quality=75&auto=webp&disable=upscale" alt="">
    </div>
    <div class="big-card__title">
        <h1>
            <a href="#">Iron man works with angular</a>
        </h1>
    </div>
    <div class="big-card__description">
        <p>
            <a href="#">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum officia nobis alias error, molestias cupiditate facere fugit magnam est nostrum dolor omnis! Quibusdam repellendus necessitatibus pariatur amet porro voluptatum. Totam.
            </a>
        </p>
    </div>
</div>
