.container__content {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    margin-top: 20px;
}

.content__cover > img{
    width: 600px;
    min-width: 600px;
    height: 300px;
    border: solid 1px rgb(177, 177, 177);
    border-radius: 5px;
}

.content__description {
    margin-top: 15px;
}

.content__description > p {
    color: rgb(177, 177, 177);
}